<head>
	<meta name="package-mapping" content="pg:de.hu_berlin.german.korpling.saltnpepper.pepper.gui.components"/>
</head>
<body>
	<v-absolute-layout width="800" height="350">
		<pg-path-layout :top="10" :left="20" _id="bcPath" :expand/>
		<v-text-field :top="50" :left="20" width="650" _id="pathField" :expand/>
		<v-list-select :top="90" :left="20" width="650" height="200" _id="list" :expand/>
		<v-button _id="btnRefresh" :top="50" :left="680"/>
		<v-absolute-layout :top="90" :left="680" height="200" width="100" _id="rootListLayout"/>		
		<v-horizontal-layout :top="300" width="650" :left="20">
			<v-label _id="lblFinalPath" description="This is your selected path"/>
			<v-button _id="btnSelect" :right>Select</v-button>
		</v-horizontal-layout>
	</v-absolute-layout>	
</body>