<head>
	<meta name="package-mapping" content="pg:de.hu_berlin.german.korpling.saltnpepper.pepper.gui.components"/>
</head>
<body>
	<v-vertical-layout width="900" height="600" _id="gui">
	<v-label _id="lblDebug"/>
		<v-horizontal-layout _id="header" width="900" height="100">
			<v-horizontal-layout _id="header-left" width="150" height="100">
			</v-horizontal-layout>
			<v-horizontal-layout _id="header-menu" width="600" height="100">
				<v-button _id="btnNewWorkflow">New Workflow</v-button>
				<v-button _id="btnLoadWorkflow">Load Workflow</v-button>
				<v-button _id="btnAbout">About</v-button>
			</v-horizontal-layout>
			<v-horizontal-layout _id="header-right" width="150" height="100" :expand/>
		</v-horizontal-layout>
		<v-horizontal-layout _id="body" width="900" height="500" :expand>
			<v-vertical-layout _id="steps-menu" width="150" height="500">
				<v-horizontal-layout width="150" height="125"><v-button _id="btnImporters" width="150" height="125">Importers</v-button></v-horizontal-layout>
				<v-horizontal-layout width="150" height="125"><v-button _id="btnManipulators" width="150" height="125">Manipulators</v-button></v-horizontal-layout>
				<v-horizontal-layout width="150" height="125"><v-button _id="btnExporters" width="150" height="125">Exporters</v-button></v-horizontal-layout>				
				<v-horizontal-layout width="150" height="125"><v-button _id="btnResults" width="150" height="125">Results</v-button></v-horizontal-layout>
			</v-vertical-layout>
			<pg-pepper-gui-main _id="main" width="750" height="500" :expand/>							
		</v-horizontal-layout>
	</v-vertical-layout>
</body>