<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="de.hu_berlin.german.korpling.saltnpepper.pepper.pepperModules"
            class="de.hu_berlin.german.korpling.saltnpepper.pepper.pepperModules.PepperModulesPackage"
            genModel="src/main/model/pepperModules.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="xsltModules"
            class="de.hu_berlin.german.korpling.saltnpepper.pepper.pepperModules.xsltModules.XsltModulesPackage"
            genModel="src/main/model/pepperModules.genmodel"/>
   </extension>

</plugin>
