<configuration>
      <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
      <encoder>
        <pattern>%msg%n</pattern>
      </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>pepper_out.txt</file>
 
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
            </pattern>
        </encoder>
    </appender> 
    <root level="info">
                <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="org.apache.maven" level="OFF"/>
    <logger name="org.eclipse.aether" level="OFF"/>
    <logger name="org.eclipse.aether.internal" level="OFF"/>
    <logger name="org.apache.http.wire" level="OFF" />
	<logger name="org.eclipse.jetty" level="OFF" />
	<logger name="org.sonatype.tests.jetty.server" level="OFF"/>
	<logger name="org.sonatype.tests.jetty.server.behaviour" level="OFF"/>
	<logger name="org.sonatype.tests" level="OFF"/>
	<logger name="de.hu_berlin.german.korpling.saltnpepper" level="INFO" />
</configuration>
